videodata/
videodata/*

__pycache__/
__pycache__/*

.venv/
.venv/*

multi_video_features/*
multi_video_features/
multi_video_features_fixed/*
multi_video_features_fixed/

extracted_features/*
extracted_features/


models/*
models/





